<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ quiz.title }}</title>
    <link rel="stylesheet" href="{% static "/css/quiz-v2.css" %}">
</head>
<body>
    <div class="quiz-container">
        <h1>{{ quiz.title }}</h1>
        <h2 align="center" id="link">Room Id : {{ quiz.code }}</h2>
        <button onclick="copyText()"  id="submitQuizBtn" >Copy link to clipboard</button>
        <form action="/q/view/{{ quiz.id }}">
            <button id="submitQuizBtn" >view results</button>
        </form>
        <form action="{% url 'teacher_home' %}">

            <button type="submit"  id="submitQuizBtn">Home</button>

        </form>
        <!-- <br><br><br>
        <table border="1" align="center">
            <thead>
                <tr>
                    <th>User</th>
                    <th>Score</th>
                    <th>Submitted At</th>
                </tr>
            </thead>
            <tbody>
                {% for result in results %}
                    <tr>
                        <td>{{ result.user.username }}</td>
                        <td>{{ result.score }}</td>
                        <td>{{ result.submitted_at }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table> -->
    
    </div>

    <!-- <a href="http://127.0.0.1:8000/q/join/{{ quiz.code }}">Open Quiz</a> -->


    <!-- <p type="hidden">http://127.0.0.1:8000/q/join/{{ quiz.code }}</p> -->



    <!-- <input type="hidden" name="link" value="http://127.0.0.1:8000/q/join/{{ quiz.code }}">
    <br>
    <br> -->
    <!-- <button onclick="copyToClipboard()">Copy link to clipboard</button> -->
<!-- 
    <h2>Questions</h2>
    <ul>
        {% for question in quiz.questions.all %}
            <li>{{ question.question_text }}</li>
        {% endfor %}
    </ul>
    <a href="{% url 'teacher_home'%}">dashboard</a> -->

    <!-- <script>
        function copyToClipboard() {
            // Get the input field
            var copyText = document.getElementById("link");
            
            // Select the text
            copyText.select();
            copyText.setSelectionRange(0, 99999); // For mobile devices
            
            // Copy the text to the clipboard
            navigator.clipboard.writeText(copyText.value)
                .then(() => {
                    alert("Copied the text: " + copyText.value);
                })
                .catch(err => {
                    console.error('Failed to copy: ', err);
                });
        }
    </script> -->

    <script>
        function copyText() {

            /* Copy selected text into clipboard */
            navigator.clipboard.writeText("{{ quiz.code }}");

            alert("text copied !")
        }
    </script>


</body>
</html>

