<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Custom Quiz by QuizBOT</title>
    <link rel="stylesheet" href="{% static "/css/quiz-v2.css" %}">
</head>
<body>
    <div class="quiz-container">
        <h1>Custom Quiz by QuizBOT</h1>
        <form id="quizForm" method="POST">
            {% csrf_token %}

            <div class="question-block" id="question1">
                <label for="question1Input">Quiz Title:</label>
                <!-- <input type="text" name="title" id="title" required><br><br> -->
                <div class="options-container">
                    <input type="text" name="title" value="my quiz" placeholder="Enter quiz title" class="option" required>
                </div>
            </div>

            {% for question in questions %}
                <div id="questionsContainer">
                    <div class="question-block" id="question{{ forloop.counter }}">
                        <label for="question1Input">Question {{ forloop.counter }}</label>
                        <!-- <textarea name="questions" id="question1Input" placeholder="{{ question.question }}" value="{{ question.question }}"  required ></textarea> -->
                        <input type="text" name="questions" id="question1Input" value="{{ question.question }}">
                        <div class="options-container">
                            <input type="text" name="options" placeholder="Option A" class="option" value="{{ question.options.0 }}" required>
                        </div>
                        <div class="options-container">
                            <input type="text" name="options" placeholder="Option B" class="option" value="{{ question.options.1 }}" required>
                        </div>
                        <div class="options-container">
                            <input type="text" name="options" placeholder="Option C" class="option" value="{{ question.options.2 }}" required>
                        </div>
                        <div class="options-container">
                            <input type="text" name="options" placeholder="Option D" class="option" value="{{ question.options.3 }}" required>
                        </div>
                        <div class="question-controls">
                            <select class="select-answer" name="correct_options" required >
                                <option value="option1">Option A</option>
                                <option value="option2">Option B</option>
                                <option value="option3">Option C</option>
                                <option value="option4">Option D</option>
                            </select>
                            <button type="button" class="delete-question-btn">Delete Question</button>
                        </div>
                    </div>
                </div>
            {% endfor %}
            <button type="button" id="addQuestionBtn">Add Another Question</button>
            <button type="submit" id="submitQuizBtn">Submit Quiz</button>
        </form>
    </div>

    <!-- <script src="{% static "/js/quiz-v2.js" %}"></script> -->
</body>
</html>
